link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
// ---- Include the above in your HEAD tag --------
head
  title= title
  link(rel='stylesheet', href='/css/style.css')
.wrapper.fadeInDown
  #formContent
    // Login Form
    form(action='/good' method='post' enctype='multipart/form-data')
      input#login.fadeIn.second(type='text' name='name' placeholder='상품명')
      input#login.fadeIn.third(type='file' name='img' placeholder='이미지 업로드')
      input#login.fadeIn.third(type='number' name='price' placeholder='시작 가격')
      input.fadeIn.fourth(type='submit' value='상품 등록')
    // Remind Passowrd
    #formFooter
      if loginError
        .error-message= loginError
      a.underlineHover(href='/') 메인으로 이동하기
