doctype html
html
  head
    meta(charset='utf-8')
    title GIF 채팅방
  body
    script(src='/socket.io/socket.io.js')
    script.
      var socket = io.connect('http://a3a3a.run.goorm.io', { path : '/socket.io',});
      socket.on('news', function(data){
        console.log(data);
        socket.emit('reply', 'THIS IS REPLY');
      });
