extends layout

block content
  .timeline
    .followings.half
      h2 팔로잉 목록
      if followings
        for following in followings
          div= following.following_id.nick
    .followers.half
      h2 팔로워 목록
      if followers
        for follower in followers
          div= follower.nick